@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px ;
    padding: 20px;
    text-align: center;
    
}

.login-box h2 {
    color: #092b54;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    font-size: 14px;
    color: #16b978;
    text-align: left;
    margin-bottom: 5px;
}

.textbox {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #16b978;
    color: #fff;
    padding: 10px;
    border: none;
    width:80px;
    margin-left: 160px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}